<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>Oh, Ann</title>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-59039407-2', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body>
		<div>
			<p>
				<%= @greeting %>
			</p>
			<p>
				<a href="http://knope.herokuapp.com"><img src="/leslie.png"></a>
			</p>
	</body>

	<footer>
		<p>
			<a href="https://github.com/dinkengraven/knope" id="github">Available on Github</a>
		</p>
	</footer>

</html>
