<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/Public/style.css">
		<title>Oh, Ann</title>
	</head>

	<body>
		<div>
			<p>
				<%= @greeting %>
			</p>
			<p>
				<a href="#"><img src="/Public/leslie.png"></a>
			</p>
	</body>


</html>