<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>Oh, Ann</title>
	</head>

	<body>
		<div>
			<p>
				<%= @greeting %>
			</p>
			<p>
				<a href="http://knope.herokuapp.com"><img src="/leslie.png"></a>
			</p>
	</body>


</html>